[submodule "course"]
	path = course
	url = git@github.com:betrybe/course.git
[submodule "projetos/sd-0x-project-lessons-learned"]
	path = projetos/sd-0x-project-lessons-learned
	url = git@github.com:betrybe/sd-0x-project-lessons-learned.git
[submodule "exercises-repos/comprehension-exercises-router"]
	path = exercises-repos/comprehension-exercises-router
	url = git@github.com:tryber/comprehension-exercises-router.git
[submodule "exercises-repos/exercise-pokedex-router"]
	path = exercises-repos/exercise-pokedex-router
	url = git@github.com:tryber/exercise-pokedex-router.git
[submodule "exercises-repos/exercise-pokedex-router-fix"]
	path = exercises-repos/exercise-pokedex-router-fix
	url = git@github.com:heyset/exercise-pokedex-router.git
[submodule "live-lectures"]
	path = live-lectures
	url = git@github.com:betrybe/live-lectures.git
