:root {
  --primary80: #2fc18c;
  --primary70: #00be8f;
  --primary40: #036b52;

  --accent-purple: #42257a;
  
  --grey100: #fafafa;
  --grey90: #dedede;
  --grey30: #717171;
  --grey20: #525252;
  --grey10: #312634;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--grey100);
}

header {
  display: flex;
  padding: 36px 36px;
  justify-content: center;
  width: 100%;
  background-color: var(--primary80);
  color: var(--grey100);
}

header h1 {
  font-weight: 400;
  font-size: 30px;
}

p {
  color: var(--grey10);
}

strong {
  font-weight: 400;
  background-color: var(--primary80);
  color: var(--grey100);
  padding: 0 4px;
}

span {
  color: inherit;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: 860px;
  padding: 42px 42px;
}

article {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 42px;
  align-items: center;
}

article h1 {
  text-align: center;
  font-weight: 400;
  font-size: 26px;
}

article .avatar {
  width: 176px;
  height: 176px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #a1a1a1;
  border-radius: 50%;
}

article .avatar img {
  display: block;
  width: 164px;
  height: 164px;
  object-fit: cover;
  border-radius: 50%;
}

article .flag {
  height: 18px;
}

article p {
  font-size: 18px;
  text-align: center;
}

section {
  display: flex;
  justify-content: center;
}

section button {
  border: none;
  background-color: var(--accent-purple);
  color: var(--grey90);
  padding:12px 16px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 100ms ease-in;
}

section button:hover, section button:active {
  background-color: var(--primary80);
  font-weight: 600;
}

footer {
  display: flex;
  padding: 15px 10px;
  justify-content: center;
}

footer p {
  color: var(--grey30);
}

footer a {
  color: inherit;
}
